@import url('https://fonts.googleapis.com/css?family=Montserrat ');
.App {
  font-family: Montserrat ;
  height:100%;
  background-color: #ecf0f1;
}
.navClient,.navActions,.navAnalytics,.nav{
  background-color: #0a1612;
  padding:17px;
  color:white;
}
.leftUpdate{ margin-left:40px; margin-top:20px;}
.head{
  font-weight: bold;
  margin-top:4%; 
}
.pLeft{margin-left:70px; margin-top:25px;}
.updateClientName{
  position: absolute;
  left:8%;
  background-color: #ecf0f1;
}
.updateClientName::placeholder{ text-decoration: underline;}

.send, .transfer, .declare{
  position: absolute;
  left: 35%;
  color: #f7ce3e;
  font-weight: bolder;
}

input{
  font-family: Montserrat ;
  font-size: 16px;
  border:none;
}
.update{margin-top:50px;}
.owners{
  width:150px;
  font-family: Montserrat ;
  position: absolute;
  background-color: #ecf0f1;
  left:21%;
  font-size: 14px;
  
}
.emailTypeDrop{
  font-family: Montserrat ;
  background-color: #ecf0f1;
  position: absolute;
  font-size: 14px;
  left:21%;
}
.owner{
  font-family: Montserrat ;
}
.search, .select{
  font-family: Montserrat ;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
  font-size: 16px;
  position: absolute;
  top:11%;
  left:1.9%;
  width:10%;
  
}
.select{
  position: absolute;
  left:12.5%;
}
.columnHeaders{
  height:5vh;
  display:grid;
  grid-template-columns: repeat(7,1fr) ;
  grid-template-areas: "n sn cy ct e sd o";
  position: relative;
  left:1.5%;
  width:96%;
  padding-top:15px;
  padding-bottom:15px;
  
}

.name, .surname, .country{ 
  pointer-events: all;
  position: absolute;
  left:38%;
  text-decoration: underline;
  top:16%;
  background-color: #131918;
  color:white; 
  opacity: 1;
  border-color: #131918;
}
.updateClient{
  position: absolute;
  font-family: Montserrat ;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: #f7ce3e;
  border-color: #f7ce3e;
  top:77%;
  left:5%;
  width:90%;
  height: 40px;
  border:none;
}
.line{
  color:#dddbce;
  margin-left:40px;
}
.addClient{
  font-family: Montserrat ;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: #f7ce3e;
  border-color: #f7ce3e;
  border:none;
  height: 40px;
  width:200px;
}

.outterPop{
  z-index: 10000;
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.pop-up{
  width:420px;
  height: 260px;
  opacity:0.9;
  background-color: #131918;
  color:white;
  border-radius: 1%;
  position: fixed;
  top:35%;
  left:35%;
}
.closePop{
  position: absolute;
  font-family: Montserrat ;  
  left:1%;
  top:1%;
  border:none;
}

.popName, .popSur, .popCount{
  position: absolute;
  left:4%;
  top:10%;
}
.popSur{top:31%;}
.surname{top:36%;}
.popCount{top:52%;}
.country{top:57%;}
.Y{
  background-color: #f7ce3e;
}

.clientName{grid-area: n;margin-left:9px;padding:10px;}
.clientSurname{grid-area: sn;padding:10px;}
.clientCountry{grid-area: cy;padding:10px;}
.clientContact{grid-area: ct;padding:10px;pointer-events: none;}
.clientEmail{grid-area: e;padding:10px;pointer-events: none;}
.clientSold{grid-area: sd;padding:10px;}
.clientOwner{grid-area: o;padding:10px;}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
